*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
    background-color: #1137ca;
}
@font-face {
    font-family: a;
    src: url(./Assets/fonts/jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./Assets/fonts/KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./Assets/fonts/KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}
#page1{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    position: relative;
}
#page1>video{
    object-fit: contain;
    width: 100%;
    }
#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
    position: absolute;
    height: 10vh;
    width: 100vw;
}
#page1>nav>img{
    width: 4%;
    margin: -1vw;
}
#right-nav>button{
    background: transparent;
    padding: 10px 24px;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    font-family: a;
    font-size: 18px;
    margin-left: 10px;
}

#bottom-page-1{
    /* background: red; */
    font-family: a;
    width: 50vw;
    height: 40vh;
    position: absolute;
    bottom: 8%;
    left: 6%;
}
#bottom-page-1>#bottom-page-1-heading{
    color: white;
    font-size: 6vw;
    font-weight: 100;
    line-height: 1;
}
#bottom-page-1-inner{
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#bottom-page-1-inner>h4{
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    
}
#bottom-page-1-inner>button{
    width: 21%;
    padding: 17px;
    border-radius: 50px;
    font-family: c;
    font-size: 1rem;
    color: rgb(75, 75, 255);
    margin-left: 40px;
    border: none;
}
#page2{
    width: 100%;
    height: 100vh;
    background-color: #0a3cee;
    position: relative;
    font-family: a;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 0vw 8vw;
    color: #fff;
}
#page2>h2{
    margin-bottom: 2vw;
    font-weight: 100;
    letter-spacing: -1px;
}
#page2>h1{
    width: 100%;
    font-size: 3.5vw;
    font-weight: 100;
    line-height: 1.3;
    letter-spacing: -2px;
    color: #dadada69;
}

#page3{
    height: 100vh;
    width: 100vw;
    background-color: red;
    position: relative;
}

#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #1137ca;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: a;
    color: #dadada69;
}
#page4>h3, #page6>h3{
    margin-left: 8vw;
    font-size: 1.2vw;
    margin-bottom: 2.7vw;
    font-weight: 100;
    color: #fff;
}
#page4>h1{
    margin-left: 8vw;
    width: 80%;
    font-size: 3.8vw;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 5vw;
}

#page5{
    width: 100vw;
    height: 100vh;
    background-color: #0a3cee;
    position: relative;
}
#page5>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
#page6{
    position: relative;
    height: 60vh;
    width: 100vw;
    margin-top: -100px;
    background-color: #0a3cee;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: a;
    color: #dadada69;
}
#page6>h1{
    margin-left: 8vw;
    width: 80%;
    font-size: 3.8vw;
    font-weight: 100;
    letter-spacing: -1px;
    line-height: 5vw;
    margin-bottom: 70vw;
}
